body {
    text-align: center;
    margin: 10px;
}
nav {
    background-color: steelblue;
    padding: 10px;
}
a {
    padding: 10px;
    color: rgb(206, 169, 127);
    margin: 40px;
    line-height: 1.5em;
}
h2 {
    color: steelblue;
}
h1 {
    margin: 50px 0;
    color: steelblue;
}
img {
    padding: 25px;
    width: 80%;
    display: block;
    margin: 50px auto;
    border: 4px solid steelblue;
}
p {
    padding: 10px;
    margin: 50px auto;
}
#active {
    background-color: white;
    color: steelblue;
}